Repository fga-eps-mds/2020.2-e-Vacina-Backend, pull requests merged in 2021-04, with the labels that each got.

#120 docs(#116): update in README.md
  README.md
Labels: Back-end, Front-end, Sprint 7, documentation

#121 docs(#116): adding pictures and tamplate's titles.
  .github/ISSUE_TEMPLATE/bug-report-issue-template.md
  .github/ISSUE_TEMPLATE/discussion-issue.md
  .github/ISSUE_TEMPLATE/documentation-issue-template.md
  .github/ISSUE_TEMPLATE/improvement-issue.md
  .github/ISSUE_TEMPLATE/question-issue-template.md
  .github/ISSUE_TEMPLATE/security-breach-issue-template.md
  .github/ISSUE_TEMPLATE/study-issue-template.md
  .github/ISSUE_TEMPLATE/task-issue-template.md
  .github/pull_request_template.md
  README.md
  docs/templates/commit_policy.md
  docs/templates/commit_policy_pt.md
  docs/templates/planning_template.md
  docs/templates/review_template.md
Labels: Back-end, Front-end, Sprint 7, documentation

#122 Atualizar documentos
  .github/ISSUE_TEMPLATE/bug-report-issue-template.md
  .github/ISSUE_TEMPLATE/discussion-issue.md
  .github/ISSUE_TEMPLATE/documentation-issue-template.md
  .github/ISSUE_TEMPLATE/improvement-issue.md
  .github/ISSUE_TEMPLATE/question-issue-template.md
  .github/ISSUE_TEMPLATE/security-breach-issue-template.md
  .github/ISSUE_TEMPLATE/study-issue-template.md
  .github/ISSUE_TEMPLATE/task-issue-template.md
  .github/pull_request_template.md
  README.md
  docs/assets/MapaConhecimentoSprint6.PNG
  docs/assets/diagrama-de-classes.jpeg
  docs/assets/diagrama-de-classes.png
  docs/assets/diagrama_de_relacoes.png
  docs/templates/commit_policy.md
  docs/templates/commit_policy_pt.md
  docs/templates/planning_template.md
  docs/templates/review_template.md
  docs/wiki/Sprint5/documento_sprint5.md
  docs/wiki/Sprint6/result_sprint6.md
  docs/wiki/Sprint7/documento_sprint7.md
  docs/wiki/Sprint7/result_sprint7.md
  docs/wiki/documento_arquitetura.md
  docs/wiki/documento_visao.md
Labels: Sprint 7, documentation

#133 docs(#126): updating prototipo.md
  docs/assets/MapaConhecimentoSprint6.PNG
  docs/assets/Screen2.png
  docs/assets/Screen3.png
  docs/assets/Screen4.png
  docs/assets/Screen5.png
  docs/assets/Screen6.png
  docs/assets/Screen7.png
  docs/assets/Screen8.png
  docs/assets/diagrama-de-classes.jpeg
  docs/assets/diagrama-de-classes.png
  docs/assets/diagrama_de_relacoes.png
  docs/prototipo.md
  docs/wiki/Sprint5/documento_sprint5.md
  docs/wiki/Sprint6/result_sprint6.md
  docs/wiki/Sprint7/documento_sprint7.md
  docs/wiki/Sprint7/result_sprint7.md
  docs/wiki/documento_arquitetura.md
  docs/wiki/documento_visao.md
Labels: Sprint 8, documentation, enhancement

#132 feat(#124): profile crud created.
  src/README.md
  src/controllers/ProfileController.js
  src/controllers/UserController.js
  src/controllers/VacineController.js
  src/models/Profile.js
  src/models/User.js
  src/routes/BaseRoute.js
  src/routes/ProfileRoute.js
Labels: Back-end, Development, Sprint 8

#144 docs(#135): updated prototipo.md
  docs/assets/Screen2.png
  docs/assets/Screen5.png
  docs/prototipo.md
Labels: Sprint 9, documentation, enhancement
